@use "@/assets/styles/utils/index" as *;

/*-------------------- DEFAULT STYLES --------------------*/
html::selection {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
}
body {
  color: $white;
  background-color: $black-100;
  line-height: 1.55;
  font-size: 16px;
  font-family: $font_family;
  min-width: 320px;
  position: relative;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: $white;
  transition: $transition;
  &:hover {
    color: $accent;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_family_accent;
}

.h1,
h1 {
  font-size: 80px;
  line-height: 1.075;
  font-weight: 700;
  @media (max-width: $media_md) {
    font-size: 60px;
  }
}

.h2,
h2 {
  font-size: 56px;
  line-height: 1.075;
  font-weight: 800;
  @media (max-width: $media_xxl) {
    font-size: 50px;
  }
  @media (max-width: $media_xl) {
    font-size: 46px;
  }
  @media (max-width: $media_lg) {
    font-size: 40px;
  }
  @media (max-width: $media_md) {
    font-size: 30px;
  }
  @media (max-width: $media_sm) {
    font-size: 28px;
  }
}

.h3,
h3 {
  font-size: 38px;
  line-height: 1.075;
  font-weight: 700;
  @media (max-width: $media_xxl) {
    font-size: 30px;
  }
  @media (max-width: $media_xl) {
    font-size: 26px;
  }
}

.h4,
h4 {
  font-size: 22px;
  line-height: 1.375;
  text-transform: uppercase;
  @media (max-width: $media_xxl) {
    font-size: 18px;
  }
}

.h5,
h5 {
  font-size: 20px;
  font-weight: 700;
}

.h6,
h6 {
  font-size: 18px;
  font-weight: 700;
}

.section-title {
  text-transform: uppercase;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-sm {
  font-size: 14px;
}
