// Colors
$accent: #ffdc22;
$white: #fff;
$black: #0c0c0c;
$black-100: #161616;
$gray: #dbdbdb;

$font_size: 16px;
$border_radius: 0;
$transition: 0.3s ease;

$font_family: "Jost", sans-serif;
$font_family_accent: "Gilroy", sans-serif;

// Media query
$media_xs: 575px;
$media_sm: 767px;
$media_md: 991px;
$media_lg: 1280px;
$media_xl: 1440px;
$media_xxl: 1680px;
